<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <title>채팅 목록</title>
</head>

<div class="content" layout:fragment="content">
    <div class="content_top">
        <span class="fs-3 align-middle">채팅방</span>
        <a href="/chat/make"><button type="button" class="btn btn-primary align-middle float-end">채팅방 만들기</button></a>
        <hr />
    </div>

    <div class="content_main">
        <p>컨텐츠 내용</p>
    </div>
</div>
</html>