<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${room_id}+'번방 - Chat App'"></title>

    <link type="text/css" rel="stylesheet" th:href="@{/css/room.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<div id="contentWrap">
    <div id="contentCover">
        <div id="roomWrap">
            <div id="roomList">
                <div id="roomHeader">MENU</div>
                <div id="roomSelect"></div>
                <div class="buttonList">
                    <button type="button" id="btn1" class="btn btn-default" onclick="location.href='/chat/main'">메인</button>
                    <button type="button" id="btn2" class="btn btn-default" onclick="location.href='/chat/list'">채팅</button>
                    <button type="button" id="btn3" class="btn btn-default" onclick="location.href='/chat/public'">공개 채팅</button>
                    <button type="button" id="chatRoomExit" class="btn btn-default" onclick="location.href='/chat/exit'">나가기</button>
                </div>
            </div>
        </div>
        <div id="chatWrap">
            <div id="chatHeader"><span th:text="${room_id}+'번 방 - '+${room_name}"></span></div>

            <div id="chatLog">
<!--                <div class="anotherMsg">-->
<!--                -->
<!--                </div>-->
<!--                <div class="myMsg">-->

<!--                </div>-->
            </div>

            <form id="chatForm" onsubmit="return false;">
                <input type="text" autocomplete="off" size="30" id="chatContent" placeholder=" 메시지를 입력하세요">
                <input type="submit" onclick="submitMessage()" value="보내기">
            </form>
        </div>


        <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content">

                        <div class="modal-header panel-heading">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title">

                            </h4>
                        </div>

                        <div class="modal-body">

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="memberWrap">
            <div id="memberList">
                <div id="memberHeader">
                    MEMBER LIST
                </div>
                <div id="memberSelect">
<!--                    <div th:each="ChatRoomUserInfoDTO : ${list}">-->
<!--                        <span th:text="${ChatRoomUserInfoDTO.id}"></span>-->
<!--                        <svg th:if="${ChatRoomUserInfoDTO.authority}=='ADMIN'" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">-->
<!--                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>-->
<!--                        </svg>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function submitMessage() {
        let room_id = [[${room_id}]];
        let id = '[[${id}]]';
        let chat_content = $('#chatContent').val();
        let file_url = null;
        let chat_type = "text";
        let chatRoomContentDTO = {
            "room_id": room_id,
            "id": id,
            "chat_content": chat_content,
            "file_url": file_url,
            "chat_type": chat_type
        };

        if(chat_content != '') {
            $.ajax({
                type: "POST",
                url: "/chat/submit_message",
                data: JSON.stringify(chatRoomContentDTO),
                contentType: "application/json; charset=utf-8;"
            });
        }

        $('#chatContent').val(''); // 내용 초기화
    }

    let last_msg = 0;
    let first_set = 0;

    function loadMessage(get_msg) {
        let room_id = '[[${room_id}]]';
        let id = '[[${id}]]';
        let chatRoomContentDTO = {
            "room_id": encodeURIComponent(room_id),
            "id": encodeURIComponent(id)
        };
        $.ajax({
            type: "POST",
            url: "/chat/load_message",
            data: JSON.stringify(chatRoomContentDTO),
            dataType: "json",
            contentType: "application/json; charset=utf-8;",
            success: function(data) {
                if(data === "") return;

                get_msg = Number(data.length);

                if(last_msg < get_msg && first_set == 0) {
                    for(let i = 0; i < data.length; i++) {
                        if(data.length > 0) {
                            addChatHtml(data[i].id, data[i].chat_content, data[i].chat_date, data[i].chat_type);
                        }
                    }
                } else {
                    for(let i = last_msg; i < data.length; i++) {
                        if(data.length > 0) {
                            addChatHtml(data[i].id, data[i].chat_content, data[i].chat_date, data[i].chat_type);
                        }
                    }
                }

                first_set = 1;
                last_msg = Number(data.length);
            }
        });
    }

    function addChatHtml(id, content, time, type) {
        let myID = '[[${id}]]';

         if(type === 'notice') {
            $('#chatLog').append(
                '<div class="noticeMsg">' +
                    '<p>' + ' ['+ time +'] ' + '<strong>'+ id +'</strong>' + content + '</p>' +
                '</div>'
            );
        } else if(myID === id) {
            $('#chatLog').append(
                '<div class="myMsg">' +
                    '<p>' + '<strong>'+ id +'</strong>' + ' ['+ time +']' + '</p>' +
                    '<p>' + content + '</p>' +
                '</div>'
            );
        } else {
            $('#chatLog').append(
                '<div class="anotherMsg">' +
                    '<p>' + '<strong>'+ id +'</strong>' + ' ['+ time +']' + '</p>' +
                    '<p>' + content + '</p>' +
                '</div>'
            );
        }
        $('#chatLog').scrollTop($('#chatLog')[0].scrollHeight);
    }

    let last_list = 0;
    let first_enter = 0;

    function loadMemberList(get_memberList) {
        let room_id = '[[${room_id}]]';
        let id = '[[${id}]]';
        let chatRoomUserInfoDTO = {
            "room_id": encodeURIComponent(room_id),
            "id": encodeURIComponent(id)
        };
        $.ajax({
            type: "POST",
            url: "/chat/load_member",
            data: JSON.stringify(chatRoomUserInfoDTO),
            dataType: "json",
            contentType: "application/json; charset=utf-8;",
            success: function(data) {
                if(data === "") return;

                get_memberList = Number(data.length);

                if(last_list < get_memberList && first_enter == 0) {
                    for(let i = 0; i < data.length; i++) {
                        if(data.length > 0) {
                            addMemberListHtml(data[i].id, data[i].authority)
                        }
                    }
                } else {
                    for(let i = last_list; i < data.length; i++) {
                        if(data.length > 0) {
                            addMemberListHtml(data[i].id, data[i].authority)
                        }
                    }
                }

                first_enter = 1;
                last_list = Number(data.length);
            }
        });
    }

    function addMemberListHtml(id, authority) {
        if(authority === 'ADMIN') {
            $('#memberSelect').append(
                '<div>' +
                    '<span style="margin-right: 5px;">' + '<strong>'+ id +'</strong>' + '</span>' +
                    '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">' +
                        '<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>' +
                    '</svg>' +
                '</div>'
            );
        } else {
            $('#memberSelect').append(
                '<div>' +
                    '<span>' + '<strong>'+ id +'</strong>' + '</span>' +
                '</div>'
            );
        }
    }

    function getInfiniteChatLoad() {
        setInterval(function (){
            loadMessage(last_msg);
            loadMemberList(last_list);
        }, 500);
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        getInfiniteChatLoad();
    })
</script>
</html>