<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <title>메인 - Chat App</title>
</head>

<div class="content" layout:fragment="content">
    <div class="content_top">
        <span class="fs-3 align-middle">친구</span>
        <input class="float-end" type="text" id="keyword" placeholder="친구 검색">

        <hr />
    </div>

    <div class="content_main">
        <div class="card" style="cursor: pointer; margin-bottom: 5px;"
             th:onclick="'location.href=\'' + @{/{id}(id=${friendsInfo.getId()})} + '\''"
             th:each="friendsInfo: ${friendsInfoCarrier}">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:if="${friendsInfoCarrier}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                    <span th:text="${friendsInfo.getNickname()}+'('+${friendsInfo.getId()}+') '"></span>
                    <div th:if="${friendsInfo.getStatus_msg()}" class="vr"></div>
                    <span th:text="${friendsInfo.getStatus_msg()}"></span>
                </li>
            </ul>
        </div>
    </div>

    <script charset="UTF-8" th:src="@{/js/friend_search.js}"></script>
</div>
</html>