<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <title>메인</title>
</head>

<div class="content" layout:fragment="content">
    <div class="content_top">
        <span class="fs-3 align-middle">공개 채팅</span>
<!--        <button type="button" class="btn btn-primary align-middle float-end">친구 추가하기</button>-->

        <hr />
    </div>

    <div class="content_main">
        <div class="card" th:each="roomInfo : ${roomInfoCarrier}">
            <div class="card-header">
                <span th:text="${roomInfo.room_id}"></span>
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${roomInfo.room_name}"></h5>
                <p class="card-text" th:text="${'방장: ' + roomInfo.master_id}"></p>
                <a href="#" class="btn btn-primary">입장</a>
            </div>
        </div>
    </div>
</div>
</html>