<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <%
        String userID = null;
        if (Session.getAttribute("userID") != null) {
        userID = (String) session.getAttribute("userID");
        }
        String toID = null;
        if (request.getParameter("toID") != null) {
        toID = (String) request.getParameter("toID");
        }
    %>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${room_id}+'번방'"></title>

    <link rel="stylesheet" type="text/css" href="/css/room.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script th:type="text/javascript"></script>
</head>
<body>

<div id="contentWrap">

    <div id="contentCover">
        <div id="roomWrap">
            <div id="roomList">
                <div id="roomHeader">MENU</div>
                <div id="roomSelect">

                </div>
            </div>
        </div>
        <div id="chatWrap">
            <div id="chatHeader" th:text="${room_id}+'번방'"></div>
            <div id="chatLog">
                <div class="anotherMsg">

                </div>
                <div class="myMsg">

                </div>
            </div>
            <form id="chatForm">
                <input type="text" autocomplete="off" size="30" id="message" placeholder=" 메시지를 입력하세요">
                <input type="submit" value="보내기">
                <script type="text/javascript" src="chat.js"></script>
            </form>
        </div>
        <div id="memberWrap">
            <div id="memberList">
                <div id="memberHeader">MEMBER LIST</div>
                <div id="memberSelect"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>