<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <title>메인 - Chat App</title>
</head>

<div class="content" layout:fragment="content">
    <div class="content_top">
        <span class="fs-3 align-middle">친구</span>
        <button type="button" class="btn btn-primary align-middle float-end" id="chatRoomExit"
                data-bs-toggle="modal" data-bs-target="#exit">
            친구 추가하기
        </button>

        <!-- Exit Modal -->
        <div class="modal fade" id="exit" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1>Search</h1>
                        <input type="text" id="keyword" placeholder="Type to Search">
                    </div>

                    <div class="modal-body">
                        <tr th:if="${UserAccountDTO}==null">
                            <td>친구를 검색해 보세요.</td>
                        </tr>
                        <tr th:unless="${UserAccountDTO}==null" th:each="userAccount : ${UserAccountDTO}">
                            <td th:text="${userAccount}"></td>
                        </tr>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>

        <hr />
    </div>

    <div class="content_main">
        <div class="card" style="">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                    <span>nickname1</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>
</html>