<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <title>내 채팅 목록 - Chat App</title>
    <script th:src="@{/js/search.js}"></script>
</head>

<div class="content" layout:fragment="content">
    <div class="content_top">
        <span class="fs-3 align-middle">채팅방</span>
        <a href="/chat/make"><button type="button" class="btn btn-primary align-middle float-end">채팅방 만들기</button></a>
        <hr />
    </div>

    <div class="content_main">
        <!-- 검색 -->
        <div class="search">
            <input onkeyup="filter()" id="value" type="text" placeholder="Search" style="width: 100%; margin-bottom: 10px;">
        </div>

        <div class="card" th:each="myRoomInfo : ${myRoomInfoCarrier}" style="margin-top: 10px;">
            <div class="card-header">
                <span class="h5">방 이름: </span>
                <span class="room-title h5" th:text="${myRoomInfo.room_name}"></span>
                <span class="badge bg-danger" th:if="${myRoomInfo.public_open}==1">공개</span>
                <span class="badge bg-secondary" th:unless="${myRoomInfo.public_open}==1">비공개</span>
            </div>
            <div class="card-body">
                <p class="card-title" th:text="${'방 번호: ' + myRoomInfo.room_id}"></p>
                <p class="card-text" th:text="${'총원: ' + myRoomInfo.total_people}"></p>
                <a th:href="'/chat/room/'+${myRoomInfo.room_id}" class="btn btn-primary">입장</a>
            </div>
        </div>
    </div>
</div>
</html>