<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <title>공개 채팅 - Chat App</title>
    <script th:src="@{/js/search.js}"></script>
</head>

<div class="content" layout:fragment="content">
    <div class="content_top">
        <span class="fs-3 align-middle">공개 채팅</span>
<!--        <button type="button" class="btn btn-primary align-middle float-end">친구 추가하기</button>-->

        <hr />
    </div>

    <div class="content_main">
        <!-- 검색 -->
        <div class="search">
            <input onkeyup="filter()" id="value" type="text" placeholder="Search" style="width: 100%; margin-bottom: 10px;">
        </div>

        <div class="card" th:each="roomInfo : ${roomInfoCarrier}" style="margin-top: 10px;">
            <div class="card-header">
                <span class="h5">방 이름: </span>
                <span class="room-title h5" th:text="${roomInfo.room_name}"></span>
            </div>
            <div class="card-body">
                <p class="card-title" th:text="${'방 번호: ' + roomInfo.room_id}"></p>
                <p class="card-text" th:text="${'총원: ' + roomInfo.total_people}"></p>
                <a th:href="'/chat/room/'+${roomInfo.room_id}" class="btn btn-primary">입장</a>
                <th:block th:each="myRoomInfo : ${myRoomInfoCarrier}">
                    <span class="badge bg-danger" th:if="${myRoomInfo.room_id} == ${roomInfo.room_id}">※ 참여중인 방입니다.</span>
                </th:block>
            </div>
        </div>
    </div>
</div>
</html>