<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Room Channel</title>

    <th:block th:replace="fragment/config :: configFragment"></th:block>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body>
    <div class="wrap">
        <div class="header_wrap">
            <div class="header_title">
                <p>Room Channel</p>
            </div>

            <div class="user_profile">
                <!-- 유저 프로필 -->
                <img src="../../images/Profile.png" alt="" width="50px" />
            </div>
        </div>
        
        <div class="content_wrap">
            <!-- 채팅방 목록 -->
        </div>

        <div class="footer_wrap">
            <!-- 하단 기능(설정 등) -->
        </div>
    </div>
    
<!-- js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</body>
</html>