<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <title th:if="${userAccountCarrier}"
           th:text="${userAccountCarrier.get(0).getNickname()}+' ('+${userAccountCarrier.get(0).getId()}+')'+' - Chat App'"></title>
</head>

<div class="content" layout:fragment="content">
    <div class="content_top">
        <span class="fs-3 align-middle" th:text="${id}"></span>
        <input class="float-end" type="text" id="keyword" placeholder="친구 검색">

        <hr />
    </div>

    <div class="content_main">
        <div>
            <p class="fw-bold fs-2" th:if="!${userAccountCarrier}">존재하지 않는 계정입니다.</p>
            <div th:unless="!${userAccountCarrier}">
                <button th:if="${userAccountCarrier.get(0).getId()}==${#authentication.getName()}"
                        class="btn btn-primary float-end" type="button"
                        onclick="location.href='/chat/account_setting'">프로필 수정
                </button>

                <button th:if="!${friendInfoCarrier} and !(${userAccountCarrier.get(0).getId()}==${#authentication.getName()})"
                        class="btn btn-primary float-end" type="button">팔로우
                </button>

                <button th:unless="!${friendInfoCarrier}"
                        class="btn btn-secondary float-end" type="button">언팔로우
                </button>

                <p class="fw-bold fs-3" th:text="'닉네임: '+${userAccountCarrier.get(0).getNickname()}"></p>
                <p class="text-reset" th:text="'아이디: '+${userAccountCarrier.get(0).getId()}"></p>
                <p class="fst-italic" th:text="'상태 메시지: '+${userAccountCarrier.get(0).getStatus_msg()}"></p>
            </div>
        </div>

        <hr />
    </div>

    <script charset="UTF-8" th:src="@{/js/friend_search.js}"></script>
</div>
</html>