<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <title th:text="${id}+' - Chat App'"> </title>
</head>

<div class="content" layout:fragment="content">
    <div class="content_top">
        <span class="fs-3 align-middle" th:text="${id}"></span>
        <button type="button" class="btn btn-primary align-middle float-end" id="chatRoomExit"
                data-bs-toggle="modal" data-bs-target="#exit">
            친구 검색
        </button>

        <!-- Exit Modal -->
        <div class="modal fade" id="exit" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1>Search</h1>
                        <input type="text" id="keyword" placeholder="Type to Search">
                    </div>

                    <div class="modal-body">
                        <tr th:if="${UserAccountDTO}==null">
                            <td>친구를 검색해 보세요.</td>
                        </tr>
                        <tr th:unless="${UserAccountDTO}==null" th:each="userAccount : ${UserAccountDTO}">
                            <td th:text="${userAccount.id}"></td>
                        </tr>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>

        <hr />
    </div>

    <div class="content_main">
        <div>
            <p>Profile TEST</p>
            <p th:if="${userAccountCarrier}==null">존재하지 않는 계정입니다.</p>
            <div th:unless="${userAccountCarrier}==null">
                <p th:text="'아이디: '+${userAccountCarrier.get(0).getId()}"></p>
                <p th:text="'닉네임: '+${userAccountCarrier.get(0).getNickname()}"></p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>
</html>