@charset "UTF-8";

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    min-height: 100vh;
    display: inline-flex;
}

.header {
    /* border: 1px solid; */
    display: inline-flex;
}

.content {
    /* border: 1px solid; */
    display: inline-block;
    width: 100%;
}

.content_top {
    margin-top: 10px;
}

.content_main {
    max-height: 768px;
    overflow: auto;
}