@charset "UTF-8";

/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    margin: 0;
    border-radius: 1px;
} */

.wrap {
    border: 1px solid;
    width: 50%;
}

.header_wrap {
    display: inline-flex;
}

.header_title {
    border: 1px solid;
}

.user_profile {
    
    border: 1px solid;
}